<div class="hero-form-wrapper">
  <form *ngIf="isLoaded; else loading" [formGroup]="form" class="hero-form">
    <mat-form-field *ngIf="form.value.id">
      <input matInput placeholder="id" formControlName="id" readonly>
      <mat-error *ngIf="form.controls.id.errors?.required">id required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="name" formControlName="name">
      <mat-error *ngIf="form.controls.name.errors?.required">name required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="age" formControlName="age">
      <mat-error *ngIf="form.controls.age.errors?.required">age required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email">
      <mat-error *ngIf="form.controls.email.errors?.email">email invalid</mat-error>
      <mat-error *ngIf="form.controls.email.errors?.required">email required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
  </form>

  <ng-template #loading>
    Loading...
  </ng-template>
</div>
